

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1.4em;
}
h1, h2, h3{
    font-family: 'Unbounded', cursive;
}

table{
    border: 1px solid;
    margin-bottom: 25%;
    margin-top: 10%;
}

p{
    width: 50%;
    margin-bottom: 10%;
    margin-top: 10%;
}

img{
    width: 50%;
    height: 100%;
}

ul{
    margin-bottom: 25%;
    margin-top: 10%;
}

.container{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Rubik Gemstones', cursive;
}

.con-1{
    background-color: rgb(24, 0, 112);
}

.con-2{
    background-color: rgb(73, 33, 0);
}

.con-3{
    background-color: rgb(45, 0, 0);
}

.con-4{
    background-color: rgb(36, 1, 45);
}

.con-h{
    border: 1px solid ;
    width: 200px;
    height: 30px;
    margin: 0%;
    color: black;
    font-size: 1.2em;
    font-family: 'Raleway', cursive;
}

.con-h-1{
    background-color: rgb(184, 240, 255);
}
.con-h-2{
    background-color: rgb(249, 255, 202);
}
.con-h-3{
    background-color: rgb(255, 203, 206);
}
.con-h-4{
    background-color: rgb(194, 179, 255);
}